<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <h2 align="center">SOCIAL</h2>
            <ul class="menu">
                <li>
                    <a href="/">Главная</a>
                </li>
                 <li>
                    <a href="/reg">Регистрация</a>
                </li>
                 <li>
                    <a href="/auth">Авторизация</a>
                </li>
            </ul>
        </header>
        <main>
            {% block content %} {% endblock %}
        </main>
        <footer class="footer">
            <p align="center">Все права защищены</p>
        </footer>
    </div>
</body>
</html>